<mat-card>
    <div class="login">
        <div class="login_sign">
            Login
        </div>
        <div *ngIf="isLoginFailed | async" class="login_error">
            Error: Credentials are wrong
        </div>
            <form [formGroup]="loginForm" class="login_form">
                <mat-form-field class="login_username">
                        <input formControlName="username" matInput placeholder="Username" name="username">
                </mat-form-field>
                <mat-form-field class="login_pass">
                        <input formControlName="password" matInput type="password" placeholder="Password" name="password">
                </mat-form-field>
                <div class="login_buttons">
                        <button mat-button>forgot password?</button>
                        <button mat-raised-button (click)="onLogin()">Log In</button>
                </div>
            </form>
    </div>
</mat-card>