a {
    color: inherit; 
    text-decoration: inherit
}


mat-card {
    transition: ease-in 0.2s;
    width: 1000px;
}

mat-card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transform: translateY(-0.25em);
    cursor: pointer;
}

.top-rated {
    background: rgb(253, 255, 237)
}

.course {
    display: flex;
    align-items: center;
    padding: 15px;

    &_date {
        font-size: 14px;
        color: #444;
        font-family: sans-serif;
        margin-right: 30px;
    }

    &_title {
        display: flex;
        font-size: 18px;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 70px;

        img {
            width: 22px;
            height: 20px;
            margin-left: 5px;
        }
    }

    &_description {
        font-size: 14px;
        color: #444;
        font-family: sans-serif;
        margin-right: 30px;
        margin-right: 30px;
        width: 350px;
        max-height: 70px;
        white-space: normal;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    &_duration {
        font-size: 14px;
        color: #444;
        font-family: sans-serif;
        padding:10px;
        margin-right: 30px;
        width: 85px;
    }

    &_controls {
        display: flex;
        flex-direction: column;
        button {
            margin: 5px 0;
        }
    }
}