<mat-card (click)=goToCourse(course.id)
        [appHighlightByDate]='course.creationDate'
        [ngClass]="{'top-rated': course?.topRated}">
    <div class="course">
        <div class="course_date">
            {{course.creationDate | date:'d  MMM, y'}}
        </div>
        <div class="course_title">
                {{course.title | uppercase}}
                <img *ngIf="course.topRated" src="assets/images/star.png" alt="top rated">
        </div>
        <div class="course_description">
            {{course.description}}
        </div>
        <div class="course_duration">
                {{course.duration | duration}}
        </div>
        <div class="course_controls">
                <button mat-raised-button (click)="onEdit($event, course.id)">Edit</button>
                <button mat-raised-button color="warn" (click)="onDelete($event,course.id)">Delete</button>
        </div>
    </div>
</mat-card>
