<mat-card (click)=goToCourse(course.id)>
    <div class="course">
        <div class="course_date">
            {{course.creationDate | date}}
        </div>
        <div class="course_title">
                {{course.title}}
        </div>
        <div class="course_description">
            {{course.description}}
        </div>
        <div class="course_duration">
                {{getCourseDuration(course.duration)}}
        </div>
        <div class="course_controls">
                <button mat-raised-button (click)="onEdit($event)">Edit</button>
                <button mat-raised-button color="warn" (click)="onDelete($event,course.id)">Delete</button>
        </div>
    </div>
</mat-card>
