mat-card {
    margin-top: 100px;
    position: absolute;
    left: calc(50% - 250px);
    width: 500px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_sign {
        font-weight: 500;
        font-size: 22px;
    }

    &_form {
        display: flex;
        flex-direction: column;
        padding: 30px 0;

        mat-form-field {
            width: 250px;
        }
    }

    &_buttons {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }
}