.search {
    padding: 20px 16px;
    display: flex;
    justify-content: center;

    &_field {
        
        
    }

    &_input {
        width: 400px;
    }

    &_button {
        margin-left: 20px;
    }
}