<div class="section">
    <div class="search">
        <form class="seatch_field">
                <mat-form-field class="search_input">
                  <input matInput #searchField placeholder="Search" name="search" [(ngModel)]="searchInput" (keyup)=onType()>
                </mat-form-field>
        </form> 
</div>

<div class="add-course">
        <button mat-raised-button class="add-button" (click)="onAddCourse()">Add course</button>
</div>
</div>
<div class="courses">
    <app-course-item *ngFor="let course of (courses | async | sortByDate)"
                    [course]="course"
                    (deleteCourse)="handleDelete($event)"></app-course-item>
        <div class="no-data-message" *ngIf="!(courses| async)">
            No data. Fell free to add new course
        </div>              
    <button class="load-more-btn" (click)="onLoadMore()" mat-stroked-button>Load more</button>
</div>
