<div class="section">
    <div class="search">
        <form class="seatch_field">
                <mat-form-field class="search_input">
                  <input matInput placeholder="Search" name="search" [(ngModel)]="searchInput">
                </mat-form-field>

                <button mat-raised-button class="search_button" (click)="onFindClick()">Find</button>
        </form> 
</div>

<div class="add-course">
        <button mat-raised-button class="add-button">Add course</button>
</div>
</div>
<div class="courses">
    <app-course-item *ngFor="let course of courses | sortByDate"
                    [course]="course"
                    (deleteCourse)="handleDelete($event)"></app-course-item>
    <div class="no-data-message" *ngIf="!courses.length">
        No data. Fell free to add new course
    </div>
    <button class="load-more-btn" (click)="onLoadMore()" mat-stroked-button>Load more</button>
</div>
