<mat-card>
    <div class="edit">
      <div class="edit_sign">
        Edit Course
      </div>
      <div class="edit_form">
        <mat-form-field>
          <input #title matInput placeholder="Title" name="title" [(ngModel)]="courseInfo.title">
        </mat-form-field>
        <mat-form-field>
          <textarea #description matInput placeholder="Description" name="description" rows="3" [(ngModel)]="courseInfo.description"></textarea>
        </mat-form-field>
        <mat-form-field>
          <input #creationDate matInput [matDatepicker]="picker" placeholder="Creation date" [(ngModel)]="courseInfo.creationDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <app-duration [currentDuration]="courseInfo.duration" (valueChange)="courseInfo.duration = $event"></app-duration>
        <div class="edit_buttons">
          <button mat-raised-button (click)="onCancel()">Cancel</button>
          <button mat-raised-button (click)="onSave()">Save</button>
        </div>
      </div>
    </div>
  </mat-card>
  