<mat-card>
    <div class="edit">
      <div class="edit_sign">
        Edit Course
      </div>
      <form [formGroup]="courseForm" class="edit_form" *ngIf="currentCourse">
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Description" name="description" rows="5" formControlName="description"></textarea>
        </mat-form-field>
        <app-creation-date formControlName="creationDate"></app-creation-date>
        <app-duration formControlName="duration" [currentDuration]="courseForm.get('duration').value"></app-duration>
        <div class="edit_buttons">
          <button mat-raised-button (click)="onCancel()">Cancel</button>
          <button mat-raised-button [disabled]="!courseForm.valid" (click)="onSave()">Save</button>
        </div>
      </form>
    </div>
  </mat-card>
  